body {
    font-family: 'gotham-light', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'gotham-light', sans-serif;
    font-weight: normal;
}

h1 {
    font-family: 'gotham-thin', sans-serif;
    font-size: 4.5em;
    letter-spacing: -3px;
    text-align: center;
}

.nav {
    font-family: 'gotham-bold', sans-serif;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    

}
